<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <title>PWStorage</title>
</head>
<body>
<!--头部-->
<nav class="nav shadow bg-light text-dark rounded">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <a href="#" class="navbar-brand text-reset text-decoration-none"><h1>PWStorage</h1></a>
        </div>
    </div>
</nav>
<!--内容-->
<div class="container my-5 py-5">
    <div class="d-flex flex-column border shadow p-5">
        <div class="row my-4">
            <div class="col-3">账号</div>
            <div class="col-7">1234567890</div>
            <div class="d-flex col-2 justify-content-end">
                <button class="btn-primary rounded-lg">修改信息</button>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-3">用户名</div>
            <div class="col-7">1234567890</div>
            <div class="d-flex col-2 justify-content-end">
                <button class="btn-primary rounded-lg">修改信息</button>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-3">密码</div>
            <div class="col-7">1234567890</div>
            <div class="d-flex col-2 justify-content-end">
                <button class="btn-primary rounded-lg">修改信息</button>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-3">账号描述</div>
            <div class="col-7">1234567890</div>
            <div class="d-flex col-2 justify-content-end">
                <button class="btn-primary rounded-lg">修改信息</button>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end my-4">
        <button class="btn btn-primary mx-3">
            返回
        </button>
        <button class="btn btn-primary">
            删除账号
        </button>
    </div>
</div>

<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>