<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="user/public :: header(注册)"></head>

<body>
<div th:insert="user/public :: nav-bar"></div>

<!--内容-->
<div class="container">
    <form th:action="@{/users/registered}" method="post" class="d-flex justify-content-center my-5 py-5 needs-validation" novalidate>
        <div>
            <div class="shadow rounded mt-5 py-3 px-4">
                <div class="h3 text-center my-3">注册</div>
                <div class="input-group has-validation my-4" style="width: 30em !important">
                    <div class="input-group-prepend">
                        <span class="input-group-text">账号</span>
                    </div>
                    <input type="text" name="username" class="form-control" placeholder="设置账号" required>
                    <div class="invalid-feedback">
                        请设置您的账号
                    </div>
                </div>
                <div class="input-group has-validation my-4" style="width: 30em !important">
                    <div class="input-group-prepend">
                        <span class="input-group-text">密码</span>
                    </div>
                    <input type="password" name="password" class="form-control" placeholder="设置密码" required>
                    <div class="invalid-feedback">
                        请设置您的密码
                    </div>
                </div>
                <div class="h6 pl-2 text-danger" th:text="${msg}"></div>
            </div>
            <div class="mt-2 mb-4 pr-2 d-flex justify-content-end"><a class="text-primary text-decoration-none" th:href="@{/startUse}">已有账号，直接登陆</a></div>
            <button type="sbumit" class="text-center shadow rounded btn btn-primary btn-block text-decoration-none">提
                交
            </button>
        </div>
    </form>
</div>

<div th:include="user/public :: footer"></div>
<script>
    (function() {
        // 加载事件
        window.addEventListener('load', function () {
            // 获取表单
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>

</html>